In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stat

In [2]:
df=pd.read_csv('C:/Users/HP/Downloads/Sales_add.csv')

In [4]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [7]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# 1. Effect of Digital Marketing on Sales

H0 : Digital Marketing had no significant effect on Sales

H1 : Digital Marketing had a significant effect on Sales

alpha = 0.05

In [21]:
sale_before=df['Sales_before_digital_add(in $)']
sale_after=df['Sales_After_digital_add(in $)']

T test for two related samples

In [22]:
test_statistic,p_value=stat.ttest_rel(sale_before,sale_after,alternative='greater')
print('p value = ',p_value)
if p_value<.05:
    print('We Reject the null hypothesis')
else:
    print('We Accept the null hypothesis')

p value =  0.9999999999683167
We Accept the null hypothesis

In [23]:
sale_before.mean()

149239.95454545456

In [24]:
sale_after.mean()

231123.72727272726

According to the test, Digital Marketing had no significant effect on Sales

But the sample means show a significant increase in favour to Digital Marketing

Maybe the sample provided is not sufficient

# 2. Dependency between the features “Region” and “Manager”

H0 : 'Region' and 'Manager' are independent features

H1 : 'Region' and 'Manager' are dependent features

alpha = 0.05

In [41]:
cross_tab=pd.crosstab(df['Region'],df['Manager'])# obtaining the contingency table
print('The contingency table is, ')
print(cross_tab)

The contingency table is,
Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [48]:
test_stat_chi,p_value_chi,df,exp_values=stat.chi2_contingency(cross_tab,correction=True,lambda_=None)
print('Chi2 Test Statisic is = ',test_stat_chi)
print('The p value is = ',p_value_chi)
print('The Degrees of Freedom = ',df)
print('The Expected values are, ',np.round(exp_values))
if p_value_chi<.05:
    print('We Reject the null hypothesis')
else:
    print('We Accept the null hypothesis')

Chi2 Test Statisic is =  3.050566893424036
The p value is =  0.5493991051158094
The Degrees of Freedom =  4
The Expected values are,  [[4. 3. 3.]
 [3. 2. 2.]
 [2. 2. 1.]]
We Accept the null hypothesis

Since the p value is higher than the significance level, we cannot reject the null hypothesis

Hence the features 'Region' and 'Manager' are dependent